{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-headerNaviRole">
    <div class="ec-headerNaviRole__left">
        <div class="ec-headerNaviRole__search">
            {# ここはincludeではなくController経由でのhtml取得になる #}
            {{ render(path('block_search_product_locale', {'_locale': app.request.locale})) }}
        </div>
        <div class="ec-headerRole__navSP">
            {{ include('Block/locale_nav_sp.twig') }}
        </div>
    </div>
    <div class="ec-headerNaviRole__right">
        <div class="ec-headerNaviRole__nav">
            {{ include('Block/locale_login.twig') }}
        </div>
        <div class="ec-headerRole__cart">
            {{ include('Block/locale_cart.twig') }}
        </div>
    </div>
</div>
